body {
    font-family: Helvetica;
};

i, span {
    font-style: large;
};

ul {
    list-style-type: none;
};

.divTitleRegeling {
    font-size: larger;
};

.divTitleWijziging {
    font-size: larger;
    color: rgb(146, 7, 7);
}